@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  header {
    width: 100%;
    height: 80px;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      padding: 10px 5px;
      background-color: colors.$WHITE;
      border-radius: 40px;
      box-shadow: 0 5px 100px 0 rgba(gray, 0.1);

      .searchBar {
        width: 90%;
        padding: 20px;
        margin: 10px 0;
        font-size: 14px;
        color: colors.$GRAYA;
        background-color: colors.$GRAYE;
        border-radius: 60px;

        &::placeholder {
          font-weight: 500;
          color: colors.$GRAYA;
          letter-spacing: 1px;
        }
      }

      .searchIcon {
        position: absolute;
        top: 28px;
        right: 15%;
        fill: gray;
      }
    }
  }

  main {
    width: 100%;
    height: 80vh;
    padding: 30px;
    overflow: scroll;

    &.isShown {
      filter: blur(1px);
    }

    li {
      height: 80px;
      padding: 10px;
      cursor: pointer;
      background-color: colors.$WHITE;
      border-radius: 10px;
      box-shadow: 0 5px 5px 0 rgba(black, 0.1);

      + li {
        margin-top: 14px;
      }
    }

    .loading {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
}
