@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  header {
    width: 100%;
    height: 80px;

    form {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      padding: 10px;
      background-color: colors.$WHITE;
      border-radius: 40px;
      box-shadow: 0 5px 100px 0 rgba(gray, 0.1);

      .searchBar {
        width: 100%;
        padding: 20px;
        font-size: 14px;
        color: colors.$GRAYA;
        background-color: colors.$GRAYE;
        border-radius: 60px;

        &::placeholder {
          font-weight: 500;
          color: colors.$GRAYA;
          letter-spacing: 1px;
        }
      }

      .searchButton {
        display: flex;
        width: 40px;
        height: 40px;

        .searchIcon {
          position: absolute;
          fill: gray;
        }
      }
    }
  }

  main {
    width: 100%;
    height: 80vh;
    padding: 30px;
    overflow: scroll;

    &.isShown {
      filter: blur(1px);
    }

    li {
      height: 80px;
      padding: 5px;
      cursor: pointer;
      background-color: colors.$WHITE;
      border-radius: 10px;
      box-shadow: 0 5px 5px 0 rgba(black, 0.1);

      + li {
        margin-top: 14px;
      }
    }

    .loadingWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      @keyframes spin {
        to {
          transform: rotate(360deg);
        }
      }

      .loading {
        width: 50px;
        height: 50px;
        border: 5px solid colors.$POINT_COLOR;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: spin 1s ease-in-out infinite;
      }
    }
  }
}
