@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.item {
  display: flex;
  width: 100%;
  height: 100%;

  .poster {
    display: flex;
    align-items: center;
    padding: 0 5px;

    img {
      border-radius: 5px;
    }
  }

  .detail {
    position: relative;
    width: 75%;
    padding: 5px;

    .starRating {
      display: flex;
      align-items: center;
      height: 15px;
      padding-bottom: 5px;

      .yellowStar {
        width: 15px;
        fill: colors.$ORANGE;
      }

      .star {
        width: 15px;
        fill: colors.$GRAYD;
      }
    }

    h1 {
      width: 190px;
      overflow: hidden;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    p {
      font-size: 13px;

      + p {
        margin-top: 2px;
        color: colors.$GRAYA;
      }
    }
  }

  .favIcon {
    display: block;
    margin-right: 5px;
    fill: colors.$GRAYD;
  }

  .colorFavIcon {
    fill: colors.$POINT_COLOR;
  }
}
