@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  align-items: center;
  justify-content: center;
  width: 300px;
  padding: 10px;
  text-align: center;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 -5px 100px 0 rgba(black, 0.1);
  transform: translate(-50%, -50%);

  .movieDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    img {
      border-radius: 5px;
    }

    .text {
      padding: 0 10px;

      .title {
        font-weight: 600;
      }

      .year {
        font-size: 13px;
      }

      p + p {
        margin-top: 5px;
      }

      .starRating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        width: 5em;
        padding: 0 0.2em;
        margin-top: 5px;
        font-size: 1.5em;
        text-align: center;
      }

      .starRating input {
        display: none;
      }

      .starRating label {
        padding: 0 1px;
        cursor: pointer;
        fill: colors.$GRAYD;
      }

      .starRating :checked ~ label {
        fill: colors.$ORANGE;
      }

      .starRating label:hover,
      .starRating label:hover ~ label {
        fill: colors.$YELLOW;
      }
    }
  }

  .input {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    height: 45px;

    .button {
      flex: 1;
      height: 100%;

      .favIcon {
        fill: colors.$GRAYD;
      }

      .colorFavIcon {
        fill: colors.$POINT_COLOR;
      }
    }
  }
}
